    <div id="answer{{counter}}" class="row viewsug-text">
        <div>
            <div class="row" style="padding: 0 0 0.5rem 0">
                <div class="content-end">
                    <a class="btn pink-full-button" style="font-size: 0.7rem; height: 1.5rem; width: 5rem" onclick="deleteFilterAnswer('{{counter}}');">Удалить</a>
                </div>
            </div>
        </div>
        <input id="AAFS{{counter}}" required name="answer{{counter}}" class="content-center form-custom form-control" style="font-size:1rem; width: 100%">   <!-- ответ на вопрос -->    
    </div>
