<div id="answer_to_answer{{counter}}" class="row viewsug-text">
    <div>
        <div class="row" style="padding: 0 0 0.5rem 0">
            <p class="col-md-6" style="height: 0.5rem;">Ответ на ответ:</p>
            <div class="col-md-6 content-end">
                <a class="btn col-md-6 pink-full-button content-center" style="font-size: 0.7rem; height: 1.5rem; width: 5rem" onclick="deleteFilterAnswerToAnswer('{{counter}}');">Удалить</a>
            </div>
        </div>
    </div>
    <input required name="answer_to_answer{{counter}}" class="content-center form-custom form-control" style="font-size:1rem; width: 100%">   <!-- ответ на вопрос -->    
</div>
