<div id="newAnswer{{counter}}">       
    <div class="row" style="border: 0.1rem solid #63b6e7; border-radius: 0.5rem; padding: 0.5rem 0.3rem 0 0.3rem"><!-- ответ на вопрос -->
                <div style="padding: 0.2rem 0.5rem 1rem 0.5rem;">
                    <div style=" padding: 0 0 0.5rem 0">
                        <p style="height: 0.5rem;">Ответ:</p>
                    </div>
                    <input class="form-custom form-control" required id="AAMINQanswer{{counter}}" name="answer{{counter}}" style="font-size:1rem; width:100%;">
                </div>    
                <div>
                    <div class="row"> 
                        <div class="col content-center">    
                            <p style="font-size:0.8rem;">intellect :</p>  <!-- значение интеллекта для ответа -->  
                            <p><select name="intellect{{counter}}" required id="AAMINQintellect{{counter}}" style="border: 2px solid #63b6e7">
                                <option selected disabled hidden></option>
                                <option value="1">1</option>
                                <option value="0.5">0.5</option>
                                <option value="0">0</option>
                               </select></p>
                        </div>    
                        <div class="col content-center">    
                            <p style="font-size:0.8rem">physical :</p>   <!-- значение физ активность для ответа -->
                            <p><select name="phys{{counter}}" required id="AAMINQphys{{counter}}" style="border: 2px solid #63b6e7">
                                <option selected disabled hidden></option>
                                <option value="1">1</option>
                                <option value="0.5">0.5</option>
                                <option value="0">0</option>
                               </select></p>
                        </div>         
                        <div class="col content-center">    
                            <p style="font-size:0.8rem">skill :</p>   <!-- значение навыков для ответа -->
                            <p><select name="skill{{counter}}" required id="AAMINQskill{{counter}}" style="border: 2px solid #63b6e7">
                                <option selected disabled hidden></option>
                                <option value="1">1</option>
                                <option value="0.5">0.5</option>
                                <option value="0">0</option>
                               </select></p>
                        </div>  
                        </div>
                        <div style="padding: 0 0.5rem 0.8rem">
                            <p style="height: 0.5rem;">Ответ на ответ:</p>
                            <input required id="AAMINQanswerToAnswer{{counter}}" name="answer_to_answer{{counter}}" class="content-center form-custom form-control" style="font-size:1rem; width: 100%">
                        </div>
                </div>
                <div class="col-md-2 content-center">
                    <a class="btn" onclick="deleteAnsInNewQues('{{counter}}');">
                    <img style="height: 1.3rem; width: 1.3rem" src="/static/img/delete_btn.png" alt="delete"></a>
                </div>
    </div>
</div>
    