{% extends "base.html" %}
{% block title %}{{page_title}}{% endblock %}

{% block content %} 

<div class="container">
    

<!-- БЛОК ОСНОВНЫХ ВОПРОСОВ -->
    <div class="row">
        <div>
            <div class="content-center">
            <h2 style="padding: 0 1rem 0 0;">Основные вопросы</h2>
            <button class="blue-full-button text-center" style="height:auto; width: 12rem" onclick="new_main_ques();">Добавить вопрос</button>
            </div>
        </div>
        <div class="offset-title"></div>
        <div class="row" id="main_block">
        <!-- вопрос -->            
        {% for main_ques in ques %}
            <div class="col-md-6" style="padding: 0.5rem;" id="main_block{{main_ques.id}}">
            <div class="box_main" id="hiden_box_m{{main_ques.id}}" style="padding: 1.7rem; background-color: transparent; border: 0.1rem solid #5EBB9C; border-radius: 0.5rem;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <p style="font-size: 0.75rem; height:1.8rem" onclick="visible_block_main('{{main_ques.id}}')" class="col-md-6 btn green-button-ques">Открыть/скрыть ответы</p>
                    <div class="col-md-3"></div>
                </div>
                
                <div class="row">
                    <div class="col-md-8"><p style="font-size: 1.3rem;">{{main_ques.question}}</p></div>    
                    <div class="col-md-4">
                        <div class="row content-center" style="padding: 0 0 0.5rem">
                            <button class="green-full-button text-center" style="height: auto; width:auto" id="edit_main_popup" onclick="edit_main_ques('{{main_ques.id}}');">Изменить</button>
                        </div>
                        <div class="row content-center">
                            <button class="pink-full-button text-center" style="height: auto; width:auto" onclick="alertDeleteQuesMain('{{main_ques.id}}');">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="offset-title"></div>
                
                    <!-- ответ на вопрос -->                
                    {% for main_answer in var_ques[main_ques.id] %}
                                <div id="main_answer{{main_answer.id}}" class="row" style="border: 0.1rem solid #63b7e795; border-radius: 0.5rem; padding: 0 0.3rem 0 0.3rem">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-2 text-end"><p style="height: 0.5rem; font-size: 0.8rem; color:#63b6e7">Ответ:</p></div>
                                            <div class="col-md-10"><p style="font-size:1rem; font-size: 1.1rem">{{main_answer.answer}}</p></div>    
                                        </div>
                                    </div>
                                    <div>
                                        <div style="font-size: 0.9rem; height: 1.8rem; display:flex; justify-content:space-between"> 
                                            <div style="display: flex;">    
                                                <p style="color:#63b6e7">intellect :</p>  <!-- значение интеллекта для ответа -->  
                                                <p class="text-center" style="width: 2.5rem;">{{main_answer.intellect}}</p>
                                            </div>    
                                            <div style="display: flex;">    
                                                <p style="color:#63b6e7">physical :</p>   <!-- значение физ активность для ответа -->
                                                <p class="text-center" style="width: 2.5rem;">{{main_answer.phys}}</p>
                                            </div>         
                                            <div style="display: flex;">    
                                                <p style="color:#63b6e7">skill :</p>   <!-- значение навыков для ответа -->
                                                <p class="text-center" style="width: 2.5rem;">{{main_answer.skill}}</p>
                                            </div>  
                                            <div style="width: 1.5rem;">
                                                <a class="btn" style="padding: 0;" onclick="edit_main_ans('{{main_answer.id}}');">
                                                <img style="height: 1.3rem; width: 1.3rem" src="/static/img/12.jpg" alt="edit"></a>
                                            </div>
                                            <div style="width: 1.5rem;">
                                                <a class="btn" style="padding: 0;" onclick="alertDeleteAns('{{main_answer.id}}');">
                                                <img style="height: 1.3rem; width: 1.3rem" src="/static/img/delete_btn.png" alt="delete"></a>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- ответ на ответ -->
                                    <div>
                                        <div class="row">
                                            <div class="col-md-3 text-end"><p style="height: 0.5rem; font-size: 0.75rem; color:#63b6e7">Ответ на ответ:</p></div>
                                            <div class="col-md-9"><p style="font-size:1rem;">{{main_answer.answer_to_answer}}</p></div>    
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}   
                    <div id="answer_main">
                        <div class="col content-center">
                            <div class="row" style="height: 1rem;"></div>
                            <button class="row blue-full-button" onclick="add_answer_main('{{main_ques.id}}');">Добавить новый ответ</button>
                        </div>
                    </div>
            </div>    
            </div>
        {% endfor %}
        
        </div>
        
    </div>
<div class="offset-end"></div>  

<!-- БЛОК ФИЛЬТРАЦИОННЫХ ВОПРОСОВ -->

    <div class="row">
        <div>
            <div class="content-center">
            <h2 style="padding: 0 1rem 0 0;">Фильтрационные вопросы</h2>
            <button class="blue-full-button" style="height:auto; width: 12rem" onclick="newFilterQues();">Добавить вопрос</button>
            </div>
        </div>
        <div class="offset-title"></div>
        <div class="row" id="filter_block">
        <!-- вопрос -->            
        {% for f_ques in filter_ques %}
            <div class="col-md-6" style="padding: 0.5rem;" id="filter_block{{f_ques.id}}">
            <div class="box_f" id="hiden_box_f{{f_ques.id}}" style="padding: 1.7rem; background-color: transparent; border: 0.1rem solid #5EBB9C; border-radius: 0.5rem;">
                <div class="row">
                    <div class="col-md-3"></div>
                    <p style="font-size: 0.75rem; height:1.8rem" onclick="visible_block_f('{{f_ques.id}}');" class="open_f col-md-6 btn green-button-ques">Открыть/скрыть ответы</p>
                    <div class="col-md-3"></div>
                </div> 
                <div class="row">
                    <div class="col-md-8"><h5 class="text-center" style="font-size: 1.3rem; letter-spacing:0.05rem">{{f_ques.question}}</h5></div>    
                    <div class="col-md-4">
                        <div class="row content-center" style="padding: 0 0 0.5rem">
                            <button class="green-full-button text-center" style="height: auto; width:auto" onclick="editFilterQues('{{f_ques.id}}');">Изменить</button>
                        </div>
                        <div class="row content-center">
                            <button class="pink-full-button text-center" style="height: auto; width:auto" onclick="alertDeleteQuesFilter('{{f_ques.id}}')">Удалить</button>
                        </div>
                    </div>
                </div>
                <div class="offset-title"></div>
                <!-- ответ на вопрос -->
                <div style="padding: 0.3rem;">
                    <div class="row">
                        <div class="col-md-6"><p style="color:#63b6e7; height: 0.5rem; font-size:0.9rem;">Ответ:</p></div>
                        <div class="col-md-6 content-end"><button class="green-full-button" onclick="editFilterAnswer('{{f_ques.id}}');">Изменить</button></div>
                    </div>
                </div>
                <div class="viewsug-text">
                {% for f_answer in f_ques.answer %}
                    <div class="row">
                        <div>
                            <div class="row">
                                <p style="font-size:1rem; height: 0.5rem">- {{f_answer}}</p>  
                            </div>
                        </div>   
                    </div>
                {% endfor %} 
                </div>
                <div style="height: 0.5rem;"></div> 
                <!-- ответ на ответ -->
                <div style="padding: 0.3rem;">
                    <div class="row">
                        <div class="col-md-6 "><p style="color:#63b6e7; height: 0.5rem; font-size:0.9rem;">Ответ на ответ:</p></div>
                        <div class="col-md-6 content-end"><button class="green-full-button" onclick="editFilterAnswerToAnswer('{{f_ques.id}}');">Изменить</button></div>
                    </div>
                </div>    
                <div class="viewsug-text">
                    {% for answer_to_answer in f_ques.answer_to_answer %}
                        <p style="font-size:1rem; height: 0.5rem">- {{answer_to_answer}}</p>
                    {% endfor %} 
                </div>
            </div>   
            </div>
        {% endfor %}
        </div>
    </div>
<div class="offset-end"></div>

<!-- БЛОК СТАТИСТИЧЕСКИХ ВОПРОСОВ -->

<div class="row">
    <div>
        <div class="content-center">
        <h2 style="padding: 0 1rem 0 0;">Статистические вопросы</h2>
        <button class="blue-full-button" style="height:auto; width: 12rem" onclick="newStatQues();">Добавить вопрос</button>
        </div>
    </div>
    <div class="offset-title"></div>
    <div class="row" id="stat_block">
    <!-- вопрос -->            
    {% for s_ques in stat_ques %}
        <div class="col-md-6" style="padding: 0.5rem;" id="stat_block{{s_ques.id}}">
        <div class="box_s" id="hiden_box_s{{s_ques.id}}" style="padding: 1.7rem; background-color: transparent; border: 0.1rem solid #5EBB9C; border-radius: 0.5rem;">
            <div class="row">
                <div class="col-md-3"></div>
                <p style="font-size: 0.75rem; height:1.8rem" onclick="visible_block_s('{{s_ques.id}}');" class="open_s col-md-6 btn green-button-ques">Открыть/скрыть ответы</p>
                <div class="col-md-3"></div>
            </div> 
            <div class="row">
                <div class="col-md-8"><h5 class="text-center" style="font-size: 1.3rem; letter-spacing:0.05rem">{{s_ques.question}}</h5></div>    
                <div class="col-md-4">
                    <div class="row content-center" style="padding: 0 0 0.5rem">
                        <button class="green-full-button text-center" style="height: auto; width:auto" onclick="editStatQues('{{s_ques.id}}');">Изменить</button>
                    </div>
                    <div class="row content-center">
                        <button class="pink-full-button text-center" style="height: auto; width:auto" onclick="alertDeleteQuesStat('{{s_ques.id}}')">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="offset-title"></div>
            <!-- ответ на вопрос -->
            <div style="padding: 0.3rem;">
                <div class="row">
                    <div class="col-md-6"><p style="color:#63b6e7; height: 0.5rem; font-size:0.9rem;">Ответ:</p></div>
                    <div class="col-md-6 content-end"><button class="green-full-button" onclick="editStatAnswer('{{s_ques.id}}');">Изменить</button></div>
                </div>
            </div>
            <div class="viewsug-text">
            {% for s_answer in s_ques.answer %}
                <div class="row">
                    <div>
                        <div class="row">
                            <p style="font-size:1rem; height: 0.5rem">- {{s_answer}}</p>  
                        </div>
                    </div>   
                </div>
            {% endfor %} 
            </div>
            <div style="height: 0.5rem;"></div> 
            <!-- ответ на ответ -->
            <div style="padding: 0.3rem;">
                <div class="row">
                    <div class="col-md-6 "><p style="color:#63b6e7; height: 0.5rem; font-size:0.9rem;">Ответ на ответ:</p></div>
                    <div class="col-md-6 content-end"><button class="green-full-button" onclick="editStatAnswerToAnswer('{{s_ques.id}}');">Изменить</button></div>
                </div>
            </div>    
            <div class="viewsug-text">
                {% for answer_to_answer in s_ques.answer_to_answer %}
                    <p style="font-size:1rem; height: 0.5rem">- {{answer_to_answer}}</p>
                {% endfor %} 
            </div>
        </div>   
        </div>
    {% endfor %}
    </div>
</div>
<div class="offset-end"></div>


</div>

<script src="/static/js/questions.js"></script>

{% endblock %}