<!-- ЭКСПЕРЕМЕНТАЛЬНЫЙ КОД -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>NBD</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/mystyle.css') }}">
</head>
<body>
  <header>
    <!-- navbar-шапка1 -->
    <nav class="navbar navbar-expand-lg bg-dark light-text mb-3"> 
      <div class="container row-cols-3">
        <div class="col"><img src="{{ url_for('static', path='img/logo.png') }}" height="35px"></div>
        <div class="col" style=" height: 50px;"><a style="font-size: 35px" class="light-text" href="/suggestions"><p style ="text-align: center;">NBD</p></a></div>
        <div style="text-align:right" class="col"><button class="light-button dark-text"><h5>Добавить предложение</h5></button></div>
      </div>
    </nav> 

<div class="container mb-3">
    <div class="row">
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/candle.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/cake.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/strawberry.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/clay.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
  <!-- 2ряд -->
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/candle.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/clay.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/strawberry.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
      <div class="col mb-3">
        <div class="card" style="width: 15rem;">
        <img src="{{ url_for('static', path='img/cake.jpg')}}">
        <div class="card-body">
          <h5 class="card-title">Candle</h5>
          <p class="card-text">ut ti</p>
          <a href="#" class="btn btn-primary">Изменить</a>
          <a href="#" class="btn btn-primary">Удалить</a>
        </div>
        </div>
      </div>
    </div>
  </div>

    </header>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>